[Unit]
Description=System Info service
After=multi-user.target

[Service]
User=pi
Type=idle
ExecStart=/usr/bin/python3 /home/pi/system_info/src/system_info.py

[Install]
WantedBy=multi-user.target
